@font-face {
  font-family: 'openSans-bold';
  src: url('fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'openSans-reg';
  src: url('fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'openSans-ita';
  src: url('fonts/OpenSans-Italic.eot'); /* IE9 Compat Modes */
  src: url('fonts/OpenSans-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@supports (scroll-behavior: smooth) {
  * {
    scroll-behavior: smooth;
  }
}

.hidden {
  visibility: hidden;
}

body {
  box-sizing: border-box;
  font-family: openSans-reg;
  margin: 0;
  padding: 0;
}

.home--header {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* webkit support*/
  background: linear-gradient(to right, #4b6cb7, #182848);
  padding: 2em;
  margin-bottom: 2em;
  width: 100%;
  width: 100vw;
  text-align: center;
  color: white;
}

@supports not (display: grid) {
  .home {
    float: left;
  }
}

@supports (display: grid) {
  .home {
    display: grid;
    grid-template-columns: 15% 65% 20%;
  }
}

.all-users {
  display: block;
  float: left;
  width: 80%;
}

/*  letters */
.letters {
  width: 10%;
  margin-right: 2em;
  float: left;
}

.letters ul > li {
  margin-bottom: .5em;
}

.letters ul li > a {
  text-decoration: none;
  padding: .5em;
}

ul {
  list-style: none;
}

#myInput {
  display: block;
  background-repeat: no-repeat;
  max-width: 10em;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  transition: 1s all ease-in;
}

#myUL > li {
  width: 15em;
}

#myUL li a {
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 1em;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/* detail page */
.detail--header {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* webkit support*/
  background: linear-gradient(to right, #4b6cb7, #182848);
  width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail--header > img {
  margin-top: 2em;
  width: 8em;
  border-radius: 5em;
}

.detail--header > h1 {
  filter: none;
  color: white;
  padding-bottom: 1em;
}


.detail--page {
  width: 100%;
  width: 100vw;

}

.detail--page > main {
  margin: 1em;
}

.detail--page main details > summary {
  padding: .2em;
  border-bottom: 1px solid lightgray;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}

main > details {
  margin-left: .3em;
}

main details > summary {
  font-weight: bold;
}

main details > p {
  margin:0;
  padding: 1em 0em 1em 2em;
}

p {
  background: lightgray;
  padding: .8em;
}

a {
  color: #4b6cb7;
}

dl {
  margin: 0;
  padding: 24px 0 0 0;
  width: 80%;
}

dt {
  background: #3779d9;
  color: #FFF;
  margin: 0;
  padding: .3em 0 .3em 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

dd {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 45px;
  font-weight: bold;
  margin: 0;
  padding: 0 0 0 12px;
}

footer {
  margin-top: 2em;
}

footer > a {
  margin: 2em 0 0 1.4em;
  padding: .7em;
  background-color: #3f5a9a;
  color: white;
  text-decoration: none;
}
