body {
  display: flex;
  flex-direction: row;
}

ul {
  list-style: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.letters {
  margin-right: 2em;
}

.letters ul > li {
  margin-bottom: .5em;
}

.letters ul li > a {
  text-decoration: none;
  padding: .5em;
}

/* detail page */

.detail--page {
  width: 100%;
  width: 100vw;
}

.detail--header {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* webkit support*/
  background: linear-gradient(to right, #4b6cb7, #182848);
  width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail--header > img {
  margin-top: 32px;
  margin-top: 2em;
  width: 8em;
  border-radius: 5em;
}

.detail--header > h1 {
  filter: none;
  color: white;
}


.detail--page > main {
  margin: 16px;
  margin: 1em;
}

.detail--page main > details {

}

.detail--page main details > summary {
  padding: .2em;
  border-bottom: 1px solid lightgray;
}

details > p {
  margin:0;
  padding: 1em 0em 1em 2em;
}
