body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > .home {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.home--header {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* webkit support*/
  background: linear-gradient(to right, #4b6cb7, #182848);
  padding: 2em;
  margin-bottom: 2em;
  width: 100%;
  width: 100vw;
  text-align: center;
  color:white;
}

.all-users {
  display: block;
  float: left;
  width: 80%;
}

/*  letters */

.letters {
  width: 10%;
  margin-right: 2em;
  float: left;
}

.letters ul > li {
  margin-bottom: .5em;
}

.letters ul li > a {
  text-decoration: none;
  padding: .5em;
}

ul {
  list-style: none;
}

#myInput {
  display: block;
  background-repeat: no-repeat;
  max-width: 10em;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 1em;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#myUL > li {
  width: 15em;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 1em;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/* detail page */
.detail--header {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* webkit support*/
  background: linear-gradient(to right, #4b6cb7, #182848);
  width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail--header > img {
  margin-top: 2em;
  width: 8em;
  border-radius: 5em;
}

.detail--header > h1 {
  filter: none;
  color: white;
  padding-bottom: 1em;
}


.detail--page {
  width: 100%;
  width: 100vw;

}

.detail--page > main {
  margin: 1em;
}

.detail--page main > details{
  background-color: red;
}

.detail--page main details > summary {
  padding: .2em;
  border-bottom: 1px solid lightgray;
}

details > p {
  margin:0;
  padding: 1em 0em 1em 2em;
}

p {
  font-weight: normal;
  background: lightgray;
  padding: .8em;
}

a {
  color: #07c;
}

dl {
  margin: 0;
  padding: 24px 0 0 0;
  width: 80%;
}

dt {
  background: #B8C1C8;
  border-bottom: 1px solid #989EA4;
  border-top: 1px solid #717D85;
  color: #FFF;
  margin: 0;
  padding: 2px 0 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

dd {
  font: bold 20px/45px Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 0 12px;
  white-space: nowrap;
}

dd + dd {
  border-top: 1px solid #CCC
}
