body {
  display: flex;
  flex-direction: row;
}


ul {
  list-style: none;
}

/* .names ul > li {
  padding: 1em;
  margin-bottom: 1em;
}

.names ul li > a {
  text-decoration: none;
}

.all-users ul > li {
  background-color: cyan;
  padding: 1em;
  margin-bottom: 1em;
} */

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.letters {
  margin-right: 2em;
}

.letters ul > li {
  margin-bottom: .5em;
}

.letters ul li > a {
  text-decoration: none;
  padding: .5em;
}
